@using SweetTooth.Models;
@model List<Category>

@{
    ViewBag.Title = "Index";
}

<table class="dash-table">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Operations</th>
    </tr>

    @foreach (Category c in this.Model)
    {
        <tr>
            <td>@c.CategoryID</td>
            <td>@c.CategoryName</td>
            <td>
                @Html.ActionLink("Delete", "Delete", routeValues: new { id = c.CategoryID }, controllerName: "Category", htmlAttributes: new { onclick = "return confirm('Are you sure you want to delete this?')" })
            </td>
        </tr>
    }
</table>
